* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

p {
    margin-left: 25px;
    margin-top: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    gap: 5%;
}

.container>div {
    width: 50%;
}

.green {
    background-color: rgb(186, 255, 201);
    margin-top: 1%;
    height: 20%;
}

.down {
    display: flex;
    height: 40%;
    gap: 4%;

}

.down>div {
    width: 31%;
}

.yellow,
.red {
    background-color: rgb(255, 255, 186);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8%;
}

.red {
    background-color: rgb(255, 179, 186);
}

.orange,
.blue {
    background-color: rgb(255, 223, 186);
    width: 100%;
    height: 46.5%;
}

.blue {
    background-color: rgb(186, 225, 255);
}

.white {
    width: 60%;
    height: 12%;
    background-color: white;
}

.yellow>p,
.red>p {
    align-self: flex-start;
    margin-top: -10px;
}

.white>p {
    margin-left: 20px;
    margin-top: 8%;
}